.env

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Mac OS X Finder
.DS_Store
*/.DS_Store
**/.vscode/*

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
